{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Criar uma nova enquete</h3>
                </div>
                    
                <form method="POST"> {% csrf_token %}
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input class="form-control my-1" required type="text" name="new_question" placeholder="Inserir uma nova pergunta à enquete">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input class="form-control my-1" required type="text" name="opcao1" placeholder="Opção 1">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input class="form-control my-1" required type="text" name="opcao2" placeholder="Opção 2">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input class="form-control my-1" required type="text" name="opcao3" placeholder="Opção 3">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input class="form-control my-1" required type="text" name="opcao4" placeholder="Opção 4">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}