{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="panel panel-default text-center">
                <br>
                <div class="panel-heading">
                    <h3 class="panel-title" style="margin-bottom: 20px; border-width: 2px;">Criar uma nova enquete</h3>
                    <br>
                </div>
 
                <form method="POST" class="panel-body"> {% csrf_token %}
                    <div class="form-group border-light-gray" style="margin-bottom: 10px;">
                        <input class="form-control my-1 custom-border" required type="text" name="pergunta" placeholder="Inserir uma nova pergunta à enquete">
                    </div>
                    <div class="form-group border-light-gray" style="margin-bottom: 10px;">
                        <input class="form-control my-1 custom-border" required type="text" name="opcao1" placeholder="Opção 1">
                    </div>
                    <div class="form-group border-light-gray" style="margin-bottom: 10px;">
                        <input class="form-control my-1 custom-border" required type="text" name="opcao2" placeholder="Opção 2">
                    </div>
                    <div class="form-group border-light-gray" style="margin-bottom: 10px;">
                        <input class="form-control my-1 custom-border" required type="text" name="opcao3" placeholder="Opção 3">
                    </div>
                    <div class="form-group border-light-gray" style="margin-bottom: 10px;">
                        <input class="form-control my-1 custom-border" required type="text" name="opcao4" placeholder="Opção 4">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-outline-primary btn-xs">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <style>
        .border-light-gray {
            border: 1px solid #b1a9a9;
            padding: 6px; 
            border-radius: 8px;
        }
    </style>
{% endblock %}

