{% extends 'base.html' %}

{% block main %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="panel panel-default text-center">
            <br>
            <div class="panel-heading">
                <h3 class="panel-title">Minhas Enquetes</h3>
                <br>
            </div>

            <div class="mb-4"></div>

            <ul class="list-group">
                {% for enquete in enquetes %}
                    {% if enquete.enquete_aberta %}
                        <li class="list-group-item mb-2">
                            <div class="row">
                                <div class="col-lg-8">
                                    <strong>{{ enquete.pergunta }}</strong>
                                </div>
                                <div class="col-lg-4">
                                    <span class="pull-right">
                                        <a href="{% url 'resultado' enquete.id %}" class="btn btn-outline-primary btn-xs">Ver resultado</a>
                                        <a href="{% url 'fechar-enquete' enquete.id %}" class="btn btn-danger btn-xs">Fechar enquete</a>
                                    </span>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


