{% extends 'base.html' %}

{% block main %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="panel panel-default text-center">
            <br>
            <div class="panel-heading">
                <h3 class="panel-title">Enquetes que você participou</h3>
                <br>
            </div>
            <ul class="list-group">
                {% for enquete in enquetes %}
                    <li class="list-group-item mb-2">
                        <div class="row">
                            <div class="col-lg-9">
                                <strong>{{ enquete.pergunta }}</strong>
                            </div>
                            <div class="col-lg-3">
                                <span class="pull-right">
                                    <a href="{% url 'resultado' enquete.id %}" class="btn btn-outline-primary btn-xs">Ver resultado</a> &nbsp;
                                </span>
                            </div>

                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
